<!DOCTYPE html>
<html lang="en">
<head>
  <title>Global Services-Accueil</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/haut.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center ">
  <a class="navbar-brand" href="#">
    <img src="image/logo.png" alt="Logo" style="width:200px;">
    </a>
    <button class="navbar-toggler justify-content-center " type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon justify-content-center "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarCollapse">
  <ul class="navbar-nav  justify-content-center ">
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/">Accueil</a>
    </li>
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/prestation">Nos Prestations</a>
    </li>
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/actualite">Actualités</a>
    </li>
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/contact">Contact</a>
    </li>
  </ul>
  </div>
</nav>
<hr class="featurette-divider">

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image/presentation.png" alt="presentation" width="1100" height="500">
      <div class="carousel-caption">
        <h3 class="text-dark">Nous appeler</h3>
        <p class="text-dark">06 52 79 37 66</p>
      </div>
    </div>
   
    
  </div>
  
  <!-- Left and right controls -->
  
</div>
<hr class="featurette-divider">


  

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading text-muted">Présentation de l’E	</h2>
      <p class="lead"> <span class="font-weight-bold">Global Services </span>est la réponse à tous vos besoins quotidiens en matière d’accueil, de propreté et de sécurité. Notre objectif consiste à vous offrir des environnements de travail sains et sécurisés pour contribuer au bien-être de vos salariés. Pour ceci, nous mettons à votre service des artisans experts qui interviennent dans les domaines du BTP, de l’industrie et du patrimoine.</p>
    </div>
    <div class="col-md-5">
      <img src="image/acc.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill="#eee"/></svg>
    </div>
  </div>

  
  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2020 Global Services , Telephone: 06 52 79 37 66</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/">Accueil</a></li>
    <li class="list-inline-item"><a href="/prestation">Nos Prestations</a></li>
    <li class="list-inline-item"><a href="/actualite">Actualités</a></li>
    <li class="list-inline-item"><a href="/contact">Contact</a></li>
 </ul>
</footer>



</body>
</html>