<!DOCTYPE html>
<html lang="en">
<head>
  <title>Global Services-Nos Prestations</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/haut.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center ">
  <a class="navbar-brand" href="#">
    <img src="image/logo.png" alt="Logo" style="width:200px;">
    </a>
    <button class="navbar-toggler justify-content-center " type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon justify-content-center "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarCollapse">
  <ul class="navbar-nav  justify-content-center ">
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/">Accueil</a>
    </li>
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/prestation">Nos Prestations</a>
    </li>
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/actualite">Actualités</a>
    </li>
    <li class="nav-item justify-content-center">
      <a class="nav-link justify-content-center" href="/contact">Contact</a>
    </li>
  </ul>
  </div>
</nav>
<hr class="featurette-divider">
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image/presentation.png" alt="presentation" width="1100" height="500">
      <div class="carousel-caption">
       <h3 class="text-dark">Nous appeler</h3>
        <p class="text-dark">06 52 79 37 66</p>
      </div>
    </div>
   
    
  </div>

<hr class="featurette-divider">
<h2 class="text-center">Nos prestations</h2>
<hr class="featurette-divider">

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="image/accueil.jpg" class="bd-placeholder-img rounded-circle " width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/></svg>
      <h2>Accueil </h2>
      <p>Global Services est une entreprise spécialisée dans la gestion de l’accueil en entreprise et la relation client.</p>
      <p>Nous proposons plusieurs prestations telles que l’accueil des visiteurs, la gestion des salles de réunion, la conciergerie ou encore l’accueil événementiel. </p>
      <p>Nous accordons de l’importance à la qualité de nos recrutements et proposons à nos collaborateurs des formations efficaces pour vous proposer des prestations d’accueil réussies.</p>   
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="image/proprete.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/></img>
      <h2>Propreté</h2>
      <p>Plusieurs prestations de services sont proposés pour vous garantir une propreté irréprochable de sites industriels, de locaux d’entreprise et de chantiers BTP.</p>
      <p>* Nettoyage (nettoyage danger biologique, bionettoyage)</p>
      <p>* Désinfection</p>
      <p>* Désinsectisation</p>
      <p>* Dératisation</p>
      <p>* Désodorisation</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="image/securite.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/></img>
      <h2>Sécurité</h2>
      <p>Pour garantir la sécurité de vos collaborateurs et de vos visiteurs, Global Services propose toute une gamme de prestations de services allant de la gestion des contrôles d’accès, à la prévention incendie ou la sécurisation d’événements.</p>
      
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">
  <h2 class="text-center">Nos secteurs d’activités</h2>
<hr class="featurette-divider">
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="image/btp.jpg" class="bd-placeholder-img rounded-circle " width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/></svg>
      <h2>BTP</h2>
      <p>Prestations proposées dans les chantiers BTP : </p>
      <p>* Dépoussiérage par aspiration, balayage, époussetage</p>
      <p>* Remise en état des sols : décapage, lavage humide</p>
      <p>* Désinfection sanitaires, cuisines</p>
      <p>* Nettoyage de traces diverses </p>
      <p>* Nettoyage des portes, encadrements, plinthes, interrupteurs …</p>
      <p>* Nettoyage des vitres, vitrines, rebord de fenêtre (dégraissage, grattage et lavage)</p>
      <p>* Aération du bâtiment et désinfection de l’air</p>
      

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="image/industrie.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/></img>
      <h2>Industries</h2>
      <p>* Prestations proposées dans les sites industriels</p>
      <p>* Dépoussiérage des surfaces en hauteur</p>
      <p>* Entretien et rénovation des sols</p>
      <p>* Nettoyage de parties communes</p>
      <p>* Entretien et nettoyage de bureaux</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="image/patrimoniaux.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/></img>
      <h2>Sites patrimoniaux</h2>
      <p>Global Services s’est développée sur Paris et en région parisienne grâce à la confiance de ses partenaires et clients. </p>
      <p>Nous proposons des prestations de nettoyage précises et méticuleuses, qui respectent les matériaux et l’ambiance des lieux, avec un soin tout particulier apporté aux détails.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

 

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2020 Global Services , Telephone: 06 52 79 37 66</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/">Accueil</a></li>
    <li class="list-inline-item"><a href="/prestation">Nos Prestations</a></li>
    <li class="list-inline-item"><a href="/actualite">Actualités</a></li>
    <li class="list-inline-item"><a href="/contact">Contact</a></li>
 </ul>
</footer>



</body>
</html>